.main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagination button {
  padding: 5px;
}

.pagination button:first-child {
  margin-right: 10px;
}
